/* Basic CSS styling for the site other than Bootstrap*/

/* General styling */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.mis {
    margin-bottom: 5em;
    margin-top: 2em;
    border: solid 0.2em black;
    padding: 1.2em;
}

#learnerDropdown {
    display: none;
}
#parentDropdown {
    display: none;
}

.form_move {
    padding: 1em;
    margin: 1em 2em;
    border: 1px solid black;
    border-radius: 1em;
}

@keyframes fading {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.eye {
    color: black;
    float: right;
    margin-top: -2em;
    margin-right: 1em;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

#home_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bus.jpeg);
}
#learner_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/learners.jpg);
}
#apply_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/transport.jpg);
}
#parent_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/parents.jpg);
}
#db_error_hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dberror.jpg);
}

.hero {
    height: 52%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_text {
    text-align: center;
    transform: translate(-50%, -180%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
  }

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #a8b2bb;
    text-align: center;
    padding: 0.5em;
    margin-top: 3em;
}

.footer > div {
    margin: 0.55em;
}

.container {
    margin-top: 2em;
    animation-name: fading;
    animation-duration: 1.5s
}

#edit_learner {
    display: none;
}
#edit_parent {
    display: none;
}

/* Mobile */
@media (max-width: 516px) {
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #a8b2bb;
        text-align: center;
        padding: 0.5em;
    }

    .button_holder > button {
        display: block;
        margin-top: 0.6em;
    }
    .form_move {
        margin: 1em 0.3em;
    }
}

/* Bigger Mobile and some tablets */
@media (min-width: 517px) and (max-width: 767px){

    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #a8b2bb;
        text-align: center;
        padding: 0.5em;
    }

    .button_holder > button {
        display: block;
        margin-top: 0.6em;
    }
    .form_move {
        margin: 1em 0.3em;
    }
}